<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Autenticação</title>
    <link href="../content/css/themes/bootstrap-superhero.min.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="MeuCtrl">
        <h1 class="text-center">Autenticação</h1>
        <div class="container text-center">
            <button class="btn btn-info" ng-click="autenticar()">Autenticar</button>
            <br /><br />
            <p>
                <span>{{ token }}</span>
            </p>
            <hr />
            <button class="btn btn-info" ng-click="get()">Obter</button>
        </div>
    </div>

    <script src="../content/js/angular.min.js"></script>
    <script>
        var app = angular.module('app', []);

        app.controller('MeuCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.title = "Meu Controller";
            $scope.token = '';

            $scope.autenticar = function () {
                DoAuth();
            }
            $scope.get = function () {
                Get();
            }

            var authurl = 'https://run.mocky.io/v3/a6c53021-28fd-47f8-9d5f-b5796e4d862a';

            function DoAuth() {
                var data = "grant_type=password&username=andrebaltieri&password=andrebaltieri";

                $http.post(authurl, data, { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } })
                    .success(function (result) {
                        console.log(result);
                        $scope.token = result.access_token;
                    });
            }

            function Get() {
                var serviceUrl = 'https://run.mocky.io/v3/5471b13f-4c34-4d91-a950-858380838150';
                $http.get(serviceUrl, { headers: { 'Authorization': 'Bearer ' + $scope.token} })
                    .success(function (result, status, headers, config) {
                        console.log(result);
                    });
            }

        }]);
    </script>
</body>
</html>
